@import url('./reset.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #3f51b5;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.output {
  font-size: 24px;
}

section {
  padding: 50px;
}

.nav-main {
  margin: 100px;
}

.link-main-div {
  padding: 40px;
}

.link-main:hover {
  color: #6C8CFF;
}

.link-main {
  font-family: 'Arial, Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.nav-item {
  margin-bottom: 25px;
}

/* I N P U T  E V E N T S  */

.form-div {
  padding: 40px;
  position: absolute;
  top: 30%;
  left: 30%;
}

.js-input {
  margin-bottom: 25px;
  border: 2px solid #6C8CFF;
  border-radius: 8px;
  width: 294px;
  height: 40px;
  font-size: 18px;
  font-family: inherit;
}

.checkbox-div {
  margin-bottom: 25px;
  margin-left: 40px;
}

.js-license {
  margin-bottom: 25px;
}

/* .disabled {
  background-color: grey;
  border: 2px solid #fff;
} */
.js-button {
  display: inline-block;

  width: 300px;
  height: 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #6C8CFF;
  background-color: #fff;
  border: 2px solid #6C8CFF;
  border-radius: 8px;
}


/* K E Y B O A R D   E V E N T S */

.clear-btn-div {
  margin-top: 50px;
  padding: 40px;
}

.js-clear {
  display: inline-block;

  width: 300px;
  height: 70px;
  font-family: inherit;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0.8em;
  color: #6C8CFF;
  border: 2px solid #6C8CFF;
  border-radius: 8px;

  margin: 50px;
}

/* M O U S E   E V E N T S */
.boxes-div {
position: absolute;
top: 15%;
left: 15%;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #3f51b5;
  transition: background-color 200ms ease-in;
}
.box--active {
  background-color: #009688
}
.inner-box {
  width: 100px;
  height: 100px;
  background-color: #ffc107;
}